@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar::before {
  content: "";
  background-color: rgb(38, 41, 55);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 34px;
}

#logo img {
  border-radius: 30px;
  height: 59px;
  margin: 3px 6px;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}
.navleft {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  /* background: url('../img/blog-2215255.jpg') no-repeat center center/cover; */
  background-color: rgb(248, 226, 25);
  height: 615px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}
#home h1 {
  color: black;
  font-size: 6rem;
  padding-bottom: 25px;
  text-align: center;
  font-family: "Bree Serif", serif;
}

#home p {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}
.fimg {
  display: flex;
  justify-content: center;
}
.fimg img {
  height: 20vw;
}
#services {
  margin: 34px;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
}

#services .box img {
  height: 160px;
  margin: auto;
  display: block;
}

#services .box p {
  font-family: "Bree Serif", serif;
}
.story img {
  width: 100%;
}
.center {
  text-align: center;
}
.button {
  margin-left: auto;
  margin-right: 20px;
}
.btn {
  width: fit-content;
  height: 20px;
}
.btn:hover {
  color: white;
  background: var(--main-bg-color);
}
.frm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-input {
  padding: 0px 5px;
  padding-top: 1px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px 13px;
  font-family: var(--font1);
}

.form-box input,
textarea {
  width: 52vw;
  padding: 0px 6px;
  margin: 7px 0px;
  font-size: 18px;
  font-family: var(--font1);
  border: 2px solid var(--main-bg-color);
  border-radius: 5px;
}
.btn {
  padding: 20px 20px;
  padding-top: 0px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: white;
  background-color: #1773ea;
  cursor: pointer;
}
.font2 {
  font-family: var(--font2);
}
.max-width-1 {
  max-width: 100vw;
}
.m-auto {
  margin: auto;
}
.home-articles {
  padding: 18px;
  background-color: rgb(248, 239, 239, 0.5);
  /* margin-top: 23px; */
  position: relative;
}
.font1 {
  font-family: var(--font1);
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}
